body, html {
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 4%;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

header {
    margin-top: 3rem;
}

header img {
    width: 15%;
}

h1 {
    margin-top: 1em;
    width: 30%;
    font-size: 5em;
    line-height: 0.7em;
    font-weight: 300;
}

h1 span {
    font-weight: 700;
}

.welcome-text {
    margin-bottom: 3em;
}

.welcome-text h4 {
    font-size: 2em;
    font-weight: 500;
    color: rgb(255, 0, 196);
    margin-bottom: 0;
}

.welcome-text p {
    margin-top: 10px;
    font-weight: 300;
    width: 35%;
}

.welcome-list {
    margin-bottom: 5em;
}

.welcome-list ul {
    padding-left: 1em;
}

li {
    font-weight: 300;
}

li span {
    font-weight: 700;
}

.welcome-form {
    display: inline-block;
    margin-right: 25%;
}

.form-checkbox label {
    font-weight: 300;
}

#error-message {
    display: none;
    color: rgb(255, 0, 196);
}

#proceed-link {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

.proceed {
     display: inline-block;
    background-color: aqua;
    text-align: center;
    padding: 1em 3em;
    box-shadow: 0 0px 16px 0 aqua, 0 0px 20px 0 aqua;
}

.proceed p {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
    margin: 0;
}

/* PAGE 2 - BENCHMARK QUIZ */

#page2-main, #page2-form {
    text-align: center;
}

#question-txt {
    font-size: 3em;
}

#page2-form, .quiz-space  {
    margin: 0 auto;
}



.quiz-space {
    width: 60%;
}

.answer-option {
    display: inline-block;
    width: 50%

}

.answer-option label {
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: white; 
    margin: 1rem; 
    margin-bottom: 0;
    cursor: pointer;
    padding: 1.3rem 0.1rem;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-size: 1.2em;
    border: 4px solid rgba(255, 255, 255, 0.732);

}

.answer-option label:hover{
    background-color: rgba(255, 255, 255, 0.206);
}


.answer-option input[type="radio"] {
    display: none;
}

.answer-option input:checked + label {
    background-color: #B40088; 
    color: white; 
    border: 4px solid rgba(255, 255, 255, 0.732);
}

#next-button {
    margin-top: 4em;
    padding: 1em 3em;
    font-weight: 900;
    text-transform: uppercase;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

#next-button:hover {
    background-color: rgba(255, 255, 255, 0.124);
}

#current-question {
    margin-top: 4em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
}

#purple-txt {
    color: #B40088;
}

/* PAGE 3 */

#textComment {
    display: none;
}

/* PAGE 4 */

.checked {
    fill: #B40088;
}

#error-message-p4 {
    display: none;
}