body, html {
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 4%;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

header {
    padding-top: 3em;
}

header img {
    width: 15%;
}

h1 {
    margin-top: 1em;
    width: 30%;
    font-size: 5em;
    line-height: 0.7em;
    font-weight: 300;
}

h1 span {
    font-weight: 700;
}

.welcome-text {
    margin-bottom: 3em;
}

.welcome-text h4 {
    font-size: 2em;
    font-weight: 500;
    color: rgb(255, 0, 196);
    margin-bottom: 0;
}

.welcome-text p {
    margin-top: 10px;
    font-weight: 300;
    width: 35%;
}

.welcome-list {
    margin-bottom: 5em;
}

.welcome-list ul {
    padding-left: 1em;
}

li {
    font-weight: 300;
}

li span {
    font-weight: 700;
}

.welcome-form {
    display: inline-block;
    margin-right: 25%;
}

.form-checkbox label {
    font-weight: 300;
}

#error-message {
    display: none;
    color: rgb(255, 0, 196);
}

#proceed-link {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

.proceed {
     display: inline-block;
    background-color: aqua;
    text-align: center;
    padding: 1em 3em;
    box-shadow: 0 0px 16px 0 aqua, 0 0px 20px 0 aqua;
}

.proceed p {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
    margin: 0;
}

/* PAGE 2 - BENCHMARK QUIZ */

.timer-div {
    margin: 0 auto;
    width: 20%;
}

.timer p {
    font-size: 2em;
}

.progress-bar {
    background-color: #C2128D;
    height: 2vh;
    border-radius: 20px;
}

#page2-main, #page2-form {
    text-align: center;
}

#question-txt {
    font-size: 3em;
}

#page2-form, .quiz-space  {
    margin: 0 auto;
}



.quiz-space {
    width: 60%;
}

.answer-option {
    display: inline-block;
    width: 50%

}

.answer-option label {
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: white; 
    margin: 1rem; 
    margin-bottom: 0;
    cursor: pointer;
    padding: 1.3rem 0.1rem;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-size: 1.2em;
    border: 4px solid rgba(255, 255, 255, 0.732);

}

.answer-option label:hover{
    background-color: rgba(255, 255, 255, 0.206);
}


.answer-option input[type="radio"] {
    display: none;
}

.answer-option input:checked + label {
    background-color: #B40088; 
    color: white; 
    border: 4px solid rgba(255, 255, 255, 0.732);
}

#next-button {
    margin-top: 4em;
    padding: 1em 3em;
    font-weight: 900;
    text-transform: uppercase;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

#next-button:hover {
    background-color: rgba(255, 255, 255, 0.124);
}

#current-question {
    margin-top: 4em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
}

#purple-txt {
    color: #B40088;
}

/* PAGE 3 */

#page3-main {
    text-align: center;
}

#textComment {
    display: none;
}

.title h2 {
    font-size: 3.5em;
    margin: 0.5em 0 0 0;
}

.title p {
    font-size: 2em;
    font-weight: 200;
    margin-top: 0;
}

#correct-space, #result-message-graph, #wrong-space {
    display: inline-block;
}

#result-message-graph{
    width: 40%;
}

#correct-space{
    text-align: left;
}

#wrong-space{
    text-align: right;
    color: rgba(255, 255, 255, 0.745);
}

#correct-space,  #wrong-space {
    width: 20%;
}

#correct-space p:first-child, #wrong-space p:first-child {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0;
}

#percentage-correct, #percentage-wrong{
    display: block;
    font-weight: 700;
    margin: 0;
}

#total-correct, #total-wrong {
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
}


#textResult {
    font-size: 1.2em;
}

#textResult span {
    display: block;
    color: aqua;
}

#textComment {
    margin: 0 auto;
    width: 31%;
    font-size: 0.9em;
    font-weight: 100;
}


#rateUs {
    text-decoration: none;
}

.rate-button {
    width: 14%;
    margin: 0 auto;
    margin-top: 5em;
    border: solid 2px white;


}

.rate-button p {
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.rate-button:hover {
    background: rgba(255, 255, 255, 0.124);
}

/* PAGE 4 */

#p4-main {
    text-align: center;
}

#feedback-title {
    margin: 0 auto;
    width: 43%;
}

#feedback-title h2 {
    font-size: 3em;
    margin-bottom: 0;
}

#feedback-title p {
    font-size: 1.5em;
    font-weight: 300;
}

svg {
    width: 5%;
    height: 15vh;
}

#feedback > p {
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 2em;
}

#feedback-input-div {
    margin: 0 auto;
    width: 53%;
    border-bottom: solid 2px #C2128D;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 10px;
}

#feedback-txt {
    background-color: transparent;
    border: none;
    width: 90%;
    font-size: 1.2em;
    color: white;
}

#feedback-txt {
    outline: none;
}

#error-message-p4 {
    display: none;
    color: #C2128D;
    margin-top: 5px;
    font-size: 1.2em;
    margin-bottom: 0;
}

#moreInfo {
    text-decoration: none;
    color: #0A1C44;
}

#more-info-div {
    width: 10%;
    margin: 0 auto;
    margin-top: 3em;
    background-color: aqua;
    padding: 1em 3em;
    box-shadow: 0 0px 16px 0 aqua, 0 0px 20px 0 aqua;
}

#more-info-div p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2em;
}